@import './menu';

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@300&display=swap');

#logofont {
    font-family: 'Oleo Script', cursive;

    font-family: 'Roboto', sans-serif;
}

.cont {
    color: rgb(0, 0, 0);
    background: rgb(252, 217, 148);


    .tittle1 {
        font-weight: 1000;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .explanaition {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

}
.paragraph {
    margin-left: 25px;
    margin-top: 16px;
}